@import "../shared";

.search-bar {
    @extend .component;
    height: 10%;
    text-align: center;
    width: 80%;
    background-color: mintcream;
    margin-top: 5%;
    font-size: 3rem;
    box-shadow: 2px 5px 24px;
    outline: 0px;
    border-radius: 15px;
}

.placeholder-text {
    color: gray;
}

