@import "../shared";
@import "../loaders";

.playlist-item {
    @extend .component;
    height: 10%;
    width: 80%;
    background-color: mintcream;
    margin-top: 5%;
    font-size: 2vw;
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
    ~ * {
        font-size: 1.1vw;
    }
}

.song-status-icon {
    max-height: 64px;
    min-height: 0px;
    height: 7vw;
    width: auto;
}

.song-title {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-self: center;
}

.thumbnail {
    justify-self: right;
    vertical-align: middle;
    max-height: 2.5em;
    height: 7vw;
    width: auto;
}

.grid-align {
    display:flex;
    margin:0 auto;
    align-self: center;
}
